/* Set a minimum height for the main content area to push the footer down */
/*App Body*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.side-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px; /* Add padding to give space around the content on smaller screens */
}

.max-width-container {
  max-width: 100%; /* Set your desired maximum width here */
  margin: 0 auto; /* Center the container horizontally */
}
/* CSS for positioning the "Add to Team" button */
.open-team-button-container {
  position: relative;
  margin-top: 20px; /* Adjust the margin when needed */
}

.open-team-button {
  position:fixed;
  bottom: 10px;
  right:10px;
  z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Style the main content area */

/*Post*/

h1 {
  color: red;
  font-family: sans-serif;
}
.intro {
  font-family:  sans-serif ;
}

.list-horizontal-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
}

.list-horizontal-wrap * {
  flex: 1;
  margin-left: 5px; /* Adjust this value as needed to add spacing between items */
}



/*SideCard*/



.pokemonImg {
  image-rendering: pixelated;
}

.full-width-image {
  width: 100%;
  height: auto;
}

.copy {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Set a minimum height for the main content area to push the footer down */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pokemonImg {
  image-rendering: pixelated;
}

h1 {
  color: red;
  font-family: sans-serif;
}
.intro {
  font-family:  sans-serif ;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: auto;
    height: auto;
    animation: App-logo-spin infinite 10s linear;
  }
}

/* Style the main content area */
.content {
  padding: 20px; /* Adjust this as needed */
}

.list-horizontal-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
}

.list-horizontal-wrap * {
  flex: 1;
  margin-left: 5px; /* Adjust this value as needed to add spacing between items */
}




.full-width-image {
  width: 100%;
}

.copy {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* For screens smaller than 768px (typical mobile devices) */





